<%- include('partials/head.ejs') -%>
    <%- include('partials/en-header.ejs') -%>
    <section class="heading">
        <h1 class="h1_vacature" style="color: #fff;"><%= getHref.positieEn %> At <%= getHref.bedrijf %></h1>
    </section>
    <main>
        <p style="max-width: 1040px;margin: 0 auto;margin-bottom: 1em;"><a class="terug" href="/en/vacatures">← Back to vacancies</a></p>
        <section>
            <article class="vacature-detail">
                <img src="/images/<%= getHref.img %>"style="margin: 1em 0;height: 100px;">
                <h2><%= getHref.positieEn %> at <%= getHref.bedrijf %></h2>
                <h3><%= getHref.locatie %> - <%= getHref.dienstverband %></h3>
                <h4><%= getHref.uren %> hours</h4>
                <p><%- getHref.textEn %></p>
                
            </article>
        </section>
    </main>
<%- include('partials/footer.ejs') -%>